@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PET_ADOPTION_SYSTEM.Models.MEMBER_MODEL
<link rel="stylesheet" href="~/css/Index.css">
<body>
    <div class="main">
        <div class="announcement">
            <h2>平台公告</h2>
            <table>
                <tr><td>2020-05-16</td><td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, ullam vero, quas, quaerat voluptates nemo at aut blanditiis natus non omnis numquam nostrum. Pariatur in libero enim. Aliquam, consectetur accusantium.</td></tr>
            </table>
        </div>
        <div class="wrapper">
            <h2>寵物領養</h2>
            <div class="item">

                <img src="https://picsum.photos/id/1076/1000/400" alt="">
                <ul>
                    <li>品種：混種狗</li>
                    <li>類別：犬</li>
                    <li>性別：公</li>
                    <li>來源：鶯歌區</li>
                </ul>

            </div>

            <div class="item">

                <img src="https://picsum.photos/id/1076/1000/400" alt="">
                <ul>
                    <li>品種：混種狗</li>
                    <li>類別：犬</li>
                    <li>性別：公</li>
                    <li>來源：鶯歌區</li>
                </ul>

            </div>

            <div class="item">

                <img src="https://picsum.photos/id/1076/1000/400" alt="">
                <ul>
                    <li>品種：混種狗</li>
                    <li>類別：犬</li>
                    <li>性別：公</li>
                    <li>來源：鶯歌區</li>
                </ul>

            </div>

            <div class="item">

                <img src="https://picsum.photos/id/1076/1000/400" alt="">
                <ul>
                    <li>品種：混種狗</li>
                    <li>類別：犬</li>
                    <li>性別：公</li>
                    <li>來源：鶯歌區</li>
                </ul>

            </div>
            <span><a>看更多>>></a></span>
        </div>
        <div class="wrapper">
            <h2>寵物協尋</h2>
            <div class="item">

                <img src="https://picsum.photos/id/1076/1000/400" alt="">
                <ul>
                    <li>品種：混種狗</li>
                    <li>類別：犬</li>
                    <li>性別：公</li>
                    <li>來源：鶯歌區</li>
                </ul>
            </div>
            <div class="item">

                <img src="https://picsum.photos/id/1076/1000/400" alt="">
                <ul>
                    <li>品種：混種狗</li>
                    <li>類別：犬</li>
                    <li>性別：公</li>
                    <li>來源：鶯歌區</li>
                </ul>

            </div>

            <div class="item">

                <img src="https://picsum.photos/id/1076/1000/400" alt="">
                <ul>
                    <li>品種：混種狗</li>
                    <li>類別：犬</li>
                    <li>性別：公</li>
                    <li>來源：鶯歌區</li>
                </ul>

            </div>

            <div class="item">

                <img src="https://picsum.photos/id/1076/1000/400" alt="">
                <ul>
                    <li>品種：混種狗</li>
                    <li>類別：犬</li>
                    <li>性別：公</li>
                    <li>來源：鶯歌區</li>
                </ul>

            </div>

            <span><a>看更多>>></a></span>

        </div>
    </div>
</body>