@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/PetAdopt.css">
<body>
    <div class="main">
        <div class="wrapper">
            <!-- <div class="item">

                <img src="https://picsum.photos/id/1076/1000/400" alt="">
                <ul>
                    <li>品種：混種狗</li>
                    <li>類別：犬</li>
                    <li>性別：公</li>
                    <li>來源：鶯歌區</li>
                </ul>
            </div>
            <div class="item">

                <img src="https://picsum.photos/id/1076/1000/400" alt="">
                <ul>
                    <li>品種：混種狗</li>
                    <li>類別：犬</li>
                    <li>性別：公</li>
                    <li>來源：鶯歌區</li>
                </ul>

            </div>

            <div class="item">

                <img src="https://picsum.photos/id/1076/1000/400" alt="">
                <ul>
                    <li>品種：混種狗</li>
                    <li>類別：犬</li>
                    <li>性別：公</li>
                    <li>來源：鶯歌區</li>
                </ul>

            </div>

            <div class="item">

                <img src="https://picsum.photos/id/1076/1000/400" alt="">
                <ul>
                    <li>品種：混種狗</li>
                    <li>類別：犬</li>
                    <li>性別：公</li>
                    <li>來源：鶯歌區</li>
                </ul>

            </div>

            <div class="item">

                <img src="https://picsum.photos/id/1076/1000/400" alt="">
                <ul>
                    <li>品種：混種狗</li>
                    <li>類別：犬</li>
                    <li>性別：公</li>
                    <li>來源：鶯歌區</li>
                </ul>

            </div>

            <div class="item">

                <img src="https://picsum.photos/id/1076/1000/400" alt="">
                <ul>
                    <li>品種：混種狗</li>
                    <li>類別：犬</li>
                    <li>性別：公</li>
                    <li>來源：鶯歌區</li>
                </ul>

            </div> -->



        </div>
        <div class="pager">
            <span><a href="#">1</a></span>
            <span><a href="#">2</a></span>
            <span><a href="#">3</a></span>
            <span><a href="#">4</a></span>
            <span><a href="#">5</a></span>
            <span><a href="#">6</a></span>
            <span><a href="#">7</a></span>
            <span><a href="#">8</a></span>
            <span><a href="#">9</a></span>
        </div>
    </div>


</body>
<script>
    var data = [

        { img: '../img/pexels-sean-valentine-4085101.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-anderson-martins-3885948.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-joão-jesus-4198370.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-lucas-guimarães-4187697.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-mark-plötz-1954380.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-photo-1103905.jpeg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-sean-valentine-4085101.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-anderson-martins-3885948.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-joão-jesus-4198370.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-lucas-guimarães-4187697.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-mark-plötz-1954380.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-photo-1103905.jpeg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-sean-valentine-4085101.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-anderson-martins-3885948.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-joão-jesus-4198370.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-lucas-guimarães-4187697.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-mark-plötz-1954380.jpg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
        { img: '../img/pexels-photo-1103905.jpeg', breed: '混種狗', animal: '犬', sex: '公', area: '鶯歌區' },
    ];

    // data = [

    // {img:'https://picsum.photos/id/1060/600/400',breed:'混種貓',animal:'貓', sex:'母', area:'新莊區'},
    // {img:'https://picsum.photos/id/1060/600/400',breed:'混種貓',animal:'貓', sex:'母', area:'新莊區'},
    // {img:'https://picsum.photos/id/1060/600/400',breed:'混種貓',animal:'貓', sex:'母', area:'新莊區'},
    // {img:'https://picsum.photos/id/1060/600/400',breed:'混種貓',animal:'貓', sex:'母', area:'新莊區'},
    // {img:'https://picsum.photos/id/1060/600/400',breed:'混種貓',animal:'貓', sex:'母', area:'新莊區'},
    // {img:'https://picsum.photos/id/1060/600/400',breed:'混種貓',animal:'貓', sex:'母', area:'新莊區'},

    // ];



    function loadData() {
        var wrapper = document.querySelector('.wrapper');
        wrapper.innerHTML = '';
        data.forEach(function (pet) {
            var div = document.createElement('div');
            div.className = 'item';
            var img = document.createElement('img');
            div.appendChild(img);
            img.src = pet.img;
            var ul = document.createElement('ul');
            // ul.appendChild(document.createElement('li'));
            var li;
            li = document.createElement('li');
            li.innerText = '品種：' + pet.breed;
            ul.appendChild(li);
            li = document.createElement('li');
            li.innerText = '類別：' + pet.animal;
            ul.appendChild(li);
            li = document.createElement('li');
            li.innerText = '性別：' + pet.sex;
            ul.appendChild(li);
            li = document.createElement('li');
            li.innerText = '來源：' + pet.area;
            ul.appendChild(li);
            div.appendChild(ul);
            wrapper.appendChild(div);
        })


    }
    loadData();
</script>