@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/PetAdoptDetail.css">
<body>
    <div class="main">
        <div class="wrapper">
            <table>
                <tr>
                    <th>照片</th>
                    <th>資料</th>
                </tr>
                <tr><td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima at ipsum est maxime, ipsam fugiat repellat sunt necessitatibus, dolore error nihil rem laborum alias voluptatibus corrupti blanditiis eveniet ad doloremque.</td><td rowspan="3"><img width="300px" src="../素材圖片/pexels-sean-valentine-4085101.jpg" alt=""></td></tr>
                <tr><td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima at ipsum est maxime, ipsam fugiat repellat sunt necessitatibus, dolore error nihil rem laborum alias voluptatibus corrupti blanditiis eveniet ad doloremque.</td></tr>
                <tr><td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima at ipsum est maxime, ipsam fugiat repellat sunt necessitatibus, dolore error nihil rem laborum alias voluptatibus corrupti blanditiis eveniet ad doloremque.</td></tr>
                <tr><td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima at ipsum est maxime, ipsam fugiat repellat sunt necessitatibus, dolore error nihil rem laborum alias voluptatibus corrupti blanditiis eveniet ad doloremque.</td><td rowspan="3"><img width="300px" src="../素材圖片/pexels-sean-valentine-4085101.jpg" alt=""></td></tr>
                <tr><td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima at ipsum est maxime, ipsam fugiat repellat sunt necessitatibus, dolore error nihil rem laborum alias voluptatibus corrupti blanditiis eveniet ad doloremque.</td></tr>
                <tr><td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima at ipsum est maxime, ipsam fugiat repellat sunt necessitatibus, dolore error nihil rem laborum alias voluptatibus corrupti blanditiis eveniet ad doloremque.</td></tr>

                <!-- <tr>
                    <td><img width="300px" src="../素材圖片/pexels-sean-valentine-4085101.jpg" alt=""></td>
                    <td>Lorem ipsum dolsa reprehenderit. Eveniet sit consectetur molestiae?</td>
                </tr>
                <tr>
                    <td><img width="300px" src="../素材圖片/pexels-sean-valentine-4085101.jpg" alt=""></td>
                    <td> eaque e perspiciatis repeo cumque repudiandae rem eius!</td>
                </tr> -->
                <!-- <tr>
                    <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem aut itaque nemo alias quisquam odit amet suscipit laborum odio? Quibusdam totam omnis cupiditate at nulla pariatur sit eius, ut eum.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas fugiat dolorum totam, praesentium dolores facere numquam iure ex id molestiae. Eveniet dolores qui blanditiis quas eos facere magni dignissimos ratione.</td>
                </tr> -->
                <!-- <tr>
                    <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem non, voluptate fuga ea animi atque sunt quaerat illum nemo, doloribus, nisi totam praesentium fugiat magnam quae illo eos ipsum debitis?</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae odit doloremque sed ad? Repellendus mollitia, obcaecati delectus beatae, similique dicta ipsa dolor, sint nam nobis a iste! Vitae, sed hic.</td>
                </tr> -->

            </table>

        </div>
    </div>
</body>